### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Results Folders

CFM_main/results/
CFM_main/resultsFolder/
CFM_main/example_results_compare/
CFM_main/example_results2


*.pyc
*.nc
code/gasmodel/Results/conc_out.csv

code/gasmodel/Results/ESS524_fig1.eps

code/gasmodel/Results/ESS524_fig2.eps

Clim.csv
Dcon.csv
age.csv
ageSpin.csv
density.csv
densitySpin.csv
depth.csv
depthSpin.csv
r2.csv
r2Spin.csv
temp.csv
tempSpin.csv


*.log
*.avi
*.mov
*.png
*.eps
*.tif
*.tiff
*.epsc
*.tar
*.DS_store
*.DS_Store
*.hdf5


docs/_build
docs/_static
docs/_templates
/CFM_main/time_tracking_solver.txt

/icecore_data/data